<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
  <body>
    <%- include('partials/_header.ejs') %>
    <main role="main" class="container mt-4">
      <h2 class="center-align">No Products Found</h2>
      <p class="center-align">No products found in this category. Please explore other categories.</p>
      <div class="center-align">
        <a href="/gallery" class="btn waves-effect waves-light">Back to Gallery</a>
      </div>
    </main>
  </body>
<%- include('partials/_footer.ejs') %>
</html>