<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
  <body>
    <%- include('partials/_header.ejs') %>
    <main role="main" class="container mt-4">
      <h2 class="center-align">Gallery</h2>
      <div class="row">
        <a href="/products/category/Sterling%20Silver%20Jewelry" class="col s12 m4">
          <div class="card">
            <div class="card-content center-align">
              <span class="card-title">Sterling Silver Jewelry</span>
            </div>
          </div>
        </a>
        <a href="/products/category/Sculpture" class="col s12 m4">
          <div class="card">
            <div class="card-content center-align">
              <span class="card-title">Sculpture</span>
            </div>
          </div>
        </a>
        <a href="/products/category/Vessel" class="col s12 m4">
          <div class="card">
            <div class="card-content center-align">
              <span class="card-title">Vessel</span>
            </div>
          </div>
        </a>
      </div>
    </main>
  </body>
<%- include('partials/_footer.ejs') %>
</html>